<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <%- include("route.ejs") %>
    <h1>Your Profile Page</h1>
    <div>
        <img src="/<%= avatarURL %>" alt="user profile" height="70" width="70" style="border-radius:50%;">
    </div>
    <div>
        <p>
            <b>username: </b> <%= username %>
        </p>
        <p>
            <b>email: </b> <%= email %>
        </p>
    </div>
    <div>
        <p>
            <b>total tags: </b> <%= count %>
        </p>
    </div>
    <div>
        <% if(isEmailValid){ %>
            <div>
                <p>email is verified</p>
            </div>
        <% } else { %>
            <button>
                <a style="color:black; text-decoration:none;" href="/auth/user/email-verify">verify email</a>
            </button>
        <% } %>
        <button>
            <a style="color:black; text-decoration:none;" href="/auth/edit-profile">edit profile</a>
        </button>
       <% if(hasPassword){ %>
         <button>
            <a style="color:black; text-decoration:none;" href="/auth/change-password">change password</a>
        </button>
       <% }else{ %>
        <button>
            <a style="color:black; text-decoration:none;" href="/auth/set-password">set password</a>
        </button>
       <% } %>
    </div>
</body>
</html>